.footer {
  background-color: #141414;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-top: 10px;
  padding: 0;
}

.footer-links a {
  color: #e50914;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
